<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request a Song</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="static/scripts.js"></script>
</head>
<body>
    <div class="form-container">
        <h2>Request a Song</h2>
        <form id="songRequestForm">
            <div class="input-wrapper">
                <input type="text" id="songUrl" placeholder="Enter song URL" required>
            </div>
            <button type="submit" class="btn">Request Song</button>
        </form>

        <div id="responseMessage" class="response-message"></div>

        <button class="btn home-button" onclick="window.location.href='/'">Go to Home</button>
    </div>
</body>
</html>